.inputContainer {
  position: relative;
  width: 308px;
}

.input {
  width: 260px;
  height: 45px;
  padding: 0 30px 0 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #181818;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 0 3px #ffffff;
  background-color: #f3f3f3;
}

.input:hover {
  border: 1px solid #e9e9e9;
}

.input:focus {
  border: 1px solid #d3d3d3;
  outline: none;
}

.button {
  position: absolute;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

button:disabled,
button[disabled],
button:disabled:hover {
  cursor: auto;
  opacity: 0.3;
}

.clearButton {
  right: 0px;
  height: 47px;
  width: 47px;
  border-radius: 0 8px 8px 0;
  position: absolute;
}

.clearButton > img {
  height: 18px;
  width: 18px;
}

.clearButton:hover {
  color: #6d6d6d;
}

.clearButton:focus {
  color: #4d4d4d;
}

.visibilityButton {
  height: 47px;
  width: 37px;
  position: absolute;
}

.visibilityButton > img {
  height: 18px;
  width: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
