.toast {
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 20px 30px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-radius: 10px;
  transition: opacity 0.3s;
  opacity: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  box-shadow: 0 0px 5px rgb(155, 155, 155);
}

.fadeOut {
  opacity: 0;
}

.toastInfo {
  background-color: rgb(25 140 193);
}

.toastSuccess {
  background-color: rgb(63 158 59);
}

.toastDanger {
  background-color: rgb(228 56 52);
}

.closeButton {
  background: white;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
}
