.sidebar {
  position: fixed;
  right: -100%;
  top: 0;
  height: 100vh;
  width: 300px;
  background-color: white;
  padding: 30px 20px;
  overflow-y: auto;
  transition: 850ms;
  box-shadow: 0 0 5px rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
}

.sidebar.active {
  right: 0;
  transition: 350ms;
}

.openButtonContainer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: black;
  box-shadow: 0 0 5px rgb(49, 49, 49);
  width: 60px;
}

.openButton {
  height: 60px;
  width: 60px;
  border: none;
  background: none;
  cursor: pointer;
}

.openButton > img {
  height: 30px;
  width: 30px;
  padding: 5px;
  color: white;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay.show {
  opacity: 1;
  pointer-events: all;
}

.titleContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
}

.titleContainer > img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: left;
}
