.sidebar {
  position: fixed;
  right: -100%;
  top: 0;
  height: 100vh;
  width: 300px;
  background-color: white;
  padding: 100px 20px;
  overflow-y: auto;
  transition: 850ms;
  box-shadow: 0 0 5px rgb(49, 49, 49);
}
.sidebar.active {
  right: 0;
  transition: 350ms;
}

.openButtonContainer {
  position: fixed;
  top: 0;
  right: 0;
}

.openButton {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 1px solid grey;
  box-shadow: 0 0 5px grey;
  cursor: pointer;
}

.openButton > img {
  height: 30px;
  width: 30px;
  padding: 5px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay.show {
  opacity: 1;
  pointer-events: all;
}
